
/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');    



/* define color variables */
:root {
    --primary-color: black;
    --secondary-color: #f0f0f0; /* for background */
    --primary-text-color: green;
    --secondary-text-color: #333;
    --color-1: #4257b1;
    --color-2: #bb2626;

    --text-size: 1rem;
    --menu-text-size: 0.75rem;
    --sarah-wewer-font-size: 1.25rem;
    /* define font variables */
    font-family: 'Roboto', sans-serif;
}

/* font sizes for screen sizes */

/* Medium screens */
@media screen and (min-width: 768px) {
    :root {
        --text-size: 1.25rem;
        --menu-text-size: 1em;
        --sarah-wewer-font-size: 1.75rem;
    }
}

/* Larger screens */
@media screen and (min-width: 1024px) {
    :root {
        --text-size: 1.5rem;
        --menu-text-size: 1rem;
        --sarah-wewer-font-size: 2rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--prima);
    display: flex;
    flex-direction: column;
}

model-viewer {
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateZ(0);  /* Add this line */
    backface-visibility: hidden;  /* Add this line */
}

/* Loading screen */

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    z-index: 9999;
}


.loader-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-animation {
    position: relative;
    height: 50px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.text-animation span {
    font-size: var(--text-size);
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
}

/* Add specific animation for the first span only */
.text-animation span:first-child {
    animation: slideText 4s ease-in-out infinite;
}

@keyframes slideText {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    10%, 90% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    animation: l14 4s infinite;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    border: 8px solid;
    border-radius: 50%;
    border-color: var(--color-1) var(--color-1) #0000 #0000;
    mix-blend-mode: darken;
    animation: l14 1s infinite linear;
  }
  .loader::after {
    border-color: #0000 #0000 var(--color-2) var(--color-2);
    animation-direction: reverse;
  }
  @keyframes l14{ 
    100%{transform: rotate(1turn)}
}

/* Loading screen end */

/* Buttons  Animation*/
.view-button.visible, .info-button.visible {
    visibility: visible;
    transition: transform 0.3s ease-in-out, visibility 0s linear;
    pointer-events: auto;
    padding: 3px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: none;
    color: var(--primary-text-color);
    z-index: 91;
}

.view-button.visible:hover, .info-button.visible:hover {
    background-color: var(--color-1);
}


/* Hide elements */
.hidden {
    display: none !important;
}

/* Adjust the model-viewer to make space for the sidebar */

.side-info-window {
    position: fixed;
    top: 0;
    left: -300px; /* Start off-screen */
    width: 300px;
    height: 100%;
    background-color: var(--secondary-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;
    z-index: 89;
    overflow-y: auto;
}

.side-info-window.visible {
    left: 0; /* Move on-screen */
}

.info-window-content {
    padding: 20px;
}

#close-info-window {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 99;
    transition: transform 0.3s ease;
    background-color: var(--secondary-color);
    border-radius: 100px;
}

#close-info-window::before,
#close-info-window::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: var(--primary-text-color);
    transition: background-color 0.3s ease;
}

#close-info-window::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#close-info-window::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#close-info-window:hover {
    transform: rotate(180deg);
    background-color: var(--color-1);
}

#info-window-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1em;
}

#info-window-content {
    width: 100%;
    height: 100%;
}

#info-window-content iframe {
    width: 100vw;
    height: 100%;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
}

/* Styles for the view and info buttons */
.view-button, .info-button {
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    font-size: var(--menu-text-size);
}

.view-button.visible, .info-button.visible {
    visibility: visible;
    pointer-events: auto;
}

#info-window {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 96px);
    background-color: var(--secondary-color);
    transition: top 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 50;
    padding: 20px;
    box-sizing: border-box;
}

#info-window.visible {
    top: 96px;
}

#info-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.overlay.visible {
    display: flex;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#switch-room-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 52px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    z-index: 90;
}

#room-0-button {
    width: 150px;
}

#switch-room-button-container button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-size: var(--menu-text-size);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
}

#switch-room-button-container button:hover {
    background-color: var(--color-1);
}

#switch-room-button-container button.hidden {
    opacity: 0;
    visibility: hidden;
}





